<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <header>
        <h3 class="app-header">SpacEX Launch Programs</h3>
      </header>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-12">
      <aside>
        <div class="filter-box">
          <div>
            <h4 class="filter-heading">Filters</h4>
          </div>
          <!-- Launch year filter start -->
          <p class="filter-name">Launch Year</p>
          <hr class="hr-style" />
          <div class="row">
            <ng-container *ngFor="let yearObj of filterYears; let i = index">
              <div class="col-6 text-center">
                <button class="btn  btn-sm  margin-button" id="{{yearObj.year}}" [ngClass]="yearObj.selected ? 'btn-selected' : ''" (click)="getLaunchDataWithFilters('year', yearObj, i)">{{yearObj.year}}</button>
              </div>
            </ng-container>
          </div>
          <!-- Successfull launch filter -->
          <div>
            <p class="filter-name">Successful Launch</p>
            <hr class="hr-style" />
            <div class="row">
              <ng-container *ngFor="let launchObj of filterLaunch; let i = index">
                <div class="col-6 text-center">
                  <button class="btn  btn-sm  margin-button" [ngClass]="launchObj.selected ? 'btn-selected' : ''"  (click)="getLaunchDataWithFilters('launch', launchObj, i)">{{launchObj.successfullOrNot}}</button>
                </div>
              </ng-container>
            </div>
          </div>
          <!-- Successful Land Filter -->
          <div>
            <p class="filter-name">Successful Landing</p>
            <hr class="hr-style" />
            <div class="row">
              <ng-container *ngFor="let landObj of filterLand; let i = index">
                <div class="col-6 text-center">
                  <button class="btn  btn-sm  margin-button" [ngClass]="landObj.selected ? 'btn-selected' : ''" id="{{landObj.successfullOrNot}}" (click)="getLaunchDataWithFilters('land', landObj, i)">{{landObj.successfullOrNot}}</button>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </aside>
    </div>
    <div class="col-xl-10 col-lg-9 col-md-9 col-sm-12">
      <main>
        <router-outlet></router-outlet>
      </main>
    </div>
    <div class="col-12 footer-container">
      <footer>
        <span>Developed By: </span>
        <span>Ravi Raj Singh</span>
      </footer>
    </div>
  </div>
</div>